body{
	background-color: rgb(185, 185, 106);
}

#genres {
	float: left;
	width: 10%;
	text-transform: uppercase;
}



#genres a {
	text-decoration: none;
	color: crimson;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 16px;
	
}
#movies {
float: right;
text-align:  center;
width: 87%;
	
}
.moviesdispley {
	display: inline-block;
	border: 1px black solid;
	text-align: center;
	background-color: ivory;
	border-radius: 10px;
	margin: 2px 0;
	padding: 0 20px;
	width: 22%;
	box-shadow: 10px 10px 10px 0;
}

.moviesdispley--id {
	visibility: hidden;
}
.moviesdispley:hover {
	cursor: pointer;
}
#movies .link {
	
	list-style-type: none;
}
#movies img {
	margin: 5px auto;
	height: 250px;
	
}

#movie {
	display: none;
	position: fixed;
	text-align: center;
	top: 40px;
	/* bottom: 10px; */
	left: 25%;
	background: azure;
	width: 60%;
	border: 3px black;
	border-style: dashed;
	padding: 10px 20px;

}
#movie.pokazi {
	display: block;
}
#movie button {
	float: right;
	margin: 10px;
	
}
#movie img {
	height:400px;
	height:300px;
}

#searchmovie {
	max-width: 15%;
}

