<!DOCTYPE html>
<html class="wrapper" lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Domaci 15</title>
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<fieldset id="searchmovie">
		<legend>Search Movie</legend>
		<input id="search" type="text" placeholder="Name of the movie" />
	</fieldset>
	<script id="genres-template" type="x-tmpl-mustache">
		
		{{#genres}}
			<li class="link"><a href="#!{{.}}">{{.}}</a></li>
		{{/genres}}
		
	</script>

	<script id="movies-template" type="x-tmpl-mustache">	
		{{#movies}}
		<div class="moviesdispley" data-query="{{title}}">
		<div class="moviesdispley--id">{{id}}</div>
		<li class="link">{{title}}</li> 
		<img src="{{posterUrl}}" alt="poster" />	
		</div>
		{{/movies}}
	
		</script>

	<script id="movie-template" type="x-tmpl-mustache">
		
				{{#movies}}
				<h2>Title:{{title}}</h2>
					<div id="image">
						<img src="{{posterUrl}}" alt="poster" />	
					</div>
					<p>Description: {{plot}}</p>
					<h3>Stars: {{actors}}</h3>
					<h3>Director: {{director}}</h3>
				{{/movies}}
				</script>

	<ul id="genres"></ul>
	<div id="movies"></div>
	<div id="movie"></div>
	<h5 id="naslov"></h5>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

	<script src="https://unpkg.com/mustache@2.3.0/mustache.min.js"></script>
	<script src="index.js"></script>

	<script>
		App.start();
	</script>

	
</body>

</html>